---
layout: main
---
<article class="article-page">
    <div class="page-content">
        {% if page.imgText %}
        <div class="page-cover-image">
            <figure>
                <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.imgText}}
                alt="{{page.title}}">
                {% if page.fig-caption %}
                <figcaption>{{page.fig-caption}}</figcaption>
                {% endif %}
            </figure>
        </div> <!-- End Page Cover Image -->
        {% else %}
        {% endif %}
        <div class="wrap-content">
            <header class="header-page">
                <h1 class="page-title">{{page.title}}</h1>
                <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            </header>
            {{content | markdownify}}
            <div class="page-footer">
                <div class="page-share">
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
                       title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"
                       rel="nofollow" target="_blank">Facebook</a>
                    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+"
                       rel="nofollow" target="_blank">Google+</a>
                </div>
                <div class="page-tag">
                    {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% include disqus.html %}
        </div> <!-- End Wrap Content -->
    </div> <!-- End Page Content -->
    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <script src="{{ '/assets/js/outlineTree.js' | prepend: site.baseurl }}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- MathJax -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- KateX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"
            integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1"
            crossorigin="anonymous"></script>
    <script src="https://bramp.github.io/js-sequence-diagrams/js/webfont.js"></script>
    <script src="{{ '/assets/js/js-sequence-diagrams-deps/webfont.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/js-sequence-diagrams-deps/snap.svg-min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/js-sequence-diagrams-deps/underscore-min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/js-sequence-diagrams-2.0.1/dist/sequence-diagram-min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/flowchart/raphael.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/flowchart/flowchart-latest.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/diagramInit.js' | prepend: site.baseurl }}"></script>
</article> <!-- End Article Page -->
